* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	background-color: #282828;
}

.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board {
	width: calc(70px * 8);
	height: calc(70px * 8);
	display: flex;
	flex-wrap: wrap;
	border-radius: 8px;
	overflow: hidden;
}

.cell {
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell img {
	width: 64px;
	height: 64px;
	position: relative;
}

.black {
	background-color: #86a666;
}
.black.selected {
	background-color: #4d7e42;
}
.white {
	background-color: #ffffdd;
}
.white.selected {
	background-color: #89aa7d;
}

.available {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background-color: rgba(5, 104, 5, 0.458);
}

.highlight {
	border: 4px dashed #323232;
}